<!-- views/adminViews/editarConfiguracion.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Configuraci贸n</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/adminViews.css">
</head>
<body>
    <nav class="navbar">
        <ul class="navbar-menu">
            <li><a href="/admin/dashboard">Home</a></li>
            <li><a href="/admin/clientes">Clientes</a></li>
            <li><a href="/admin/delivery">Deliveries</a></li>
            <li><a href="/admin/comercios">Comercios</a></li>
            <li><a href="/admin/configuracion">Configuraci贸n</a></li>
            <li><a href="/admin/administradores">Administradores</a></li>
            <li><a href="/admin/tipos_comercios">Tipos de Comercios</a></li>
            <li><a href="/auth/logout">Cerrar Sesi贸n</a></li>
        </ul>
    </nav>
    <div class="container mt-5">
        <div class="form-container">
            <h2>Editar Configuraci贸n</h2>
            <form action="/admin/configuracion/editar" method="POST">
                <div class="form-group">
                    <label for="tax_rate">ITBIS:</label>
                    <input type="number" class="form-control" id="tax_rate" name="tax_rate" value="<%= configuracion.tax_rate %>" required>
                </div>
                <button type="submit" class="btn btn-primary btn-block"><i class="fas fa-save"></i> Guardar cambios</button>
                <a href="/admin/configuracion" class="btn btn-secondary btn-block"><i class="fas fa-times"></i> Cancelar</a>
            </form>
        </div>
    </div>
</body>
</html>