<!-- views/orders/confirmation.ejs -->
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirmación de Pedido</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <nav class="navbar">
        <!-- Contenido de la barra de navegación -->
    </nav>
    
    <div class="container">
        <h2>Confirmación de Pedido</h2>
        <p>Tu pedido ha sido realizado con éxito. Gracias por tu compra.</p>
        <a href="/user/comercios/1" class="btn btn-primary">Volver a los Comercios</a>
    </div>
</body>
</html>